.container
    display: flex
    flex-direction: column
    height: 100%
    position: relative
    width: 100%
    .header
        align-items: center
        background-image: url('./images/pattern-bg-mobile.png')
        background-repeat: no-repeat
        background-size: cover
        display: flex
        flex-direction: column
        flex-grow: 1
        max-height: 300px
        padding: 26px 24px
        width: 100%
        > h1
            margin-bottom: 30px
    .leaftContainer
        flex-grow: 3
        width: 100%
